<html>
  <head>
    {% if title %}
    <title>{{ title }} - Magnitude.io</title>
    {% else %}
    <title>Magnitude.io</title>
    {% endif %}
  </head>
  <body>
    <div>Magnitude.io - ExoLab: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>