<html>
  <head>
<style type="text/css">
.body-text {  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}
.body-wrapper {	margin-right: 120px;
	margin-left: 120px;
	font-size: 16px;
	font-style: normal;
	background-color: #FFF;
}
body {
  background-color: #fafafa;
  height: 100%;
  margin: 0;
  padding: 0;
}

.panel-heading {
	border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

body.fixed-header .header {
  position: fixed;
  left: 0;
  top: 0;
}
.header a {
  color: #3b4751;
}

.header a.btn {
  color: #8b91a0;
}

.header a.btn-warning {
  color: #eaeef1;
}

.header-inner {
  height: 60px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}




  </style>  
  
    {% if title %}
<title>{{ title }} - Magnitude.io</title>
    {% else %}
    <title>Magnitude.io</title>
    {% endif %}
  </head>
  <body>
  <p>&nbsp;</p>
  <div class="body-wrapper">
    <!-- START WIDGET -->
    <div class="widget-1 panel no-border bg-complete no-margin widget-loader-circle-lg">
      <div class="panel-heading">
      
        <div class="header-inner">
              <img src="/static/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="253" height="66">
        </div>
      
      
      </div>
      <div class="body-text">
        <div class="pull-bottom bottom-left bottom-right "> <br>
          <br>
          <br>
          <br>
          {% with messages = get_flashed_messages() %}
      {% if messages %}
<ul>
          {% for message in messages %}
          <li>{{ message }} </li>
            {% endfor %}
          </ul>
{% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

  <p>&nbsp;</p>
  <p>&nbsp;</p>

         
        </div>
      </div>
    </div>
    <!-- END WIDGET -->
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

</body>
</html>