<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Network Setup</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please select your network's security protocol:<br>
          {{ form.security() }}<br>
      </p>
      <p>
          Please enter your network SSID:<br>
          {{ form.ssid(size=80) }}<br>
      </p>
      <p>
          Please enter your network passkey(WPA-PSK only):<br>
          {{ form.psk(size=80) }}<br>
      </p>
      <p>
          Please enter your PAEP username(Enterprise only):<br>
          {{ form.username(size=80) }}<br>
      </p>
      <p>
          Please enter your PAEP password(Enterprise only):<br>
          {{ form.password(size=80) }}<br>
      </p>
      <p>
          MAC Address:<br>
          {{ form.myMAC }}<br>
      </p>
      <p><input type="submit" value="Submit and restart"></p>
  </form>


{% endblock %}