<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<style type="text/css">
.body-text {  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}
.body-wrapper {	margin-right: 120px;
	margin-left: 120px;
	font-size: 16px;
	font-style: normal;
	background-color: #FFF;
}
.header-inner {  height: 60px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}
.panel-heading {	border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

body {
  background-color: #fafafa;
  height: 100%;
  margin: 0;
  padding: 0;
}

.panel-heading {
	border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

body.fixed-header .header {
  position: fixed;
  left: 0;
  top: 0;
}
.header a {
  color: #3b4751;
}

.header a.btn {
  color: #8b91a0;
}

.header a.btn-warning {
  color: #eaeef1;
}

.header-inner {
  height: 60px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}
.btn-primary {
	-webkit-appearance: button;
	cursor: pointer;
	color: #fff;
	background-color: #6d5cae;
	border-color: #6d5cae;
	text-align: center;
	vertical-align: middle;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.01em;
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 3px;
	text-shadow: none;
	/* [disabled]box-shadow: none; */
	line-height: 25px;
	padding-left: 19px;
	padding-right: 19px;
	position: relative;
	touch-action: manipulation;
	border: 0px solid #f0f0f0;
	transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

select.form-group-sm .form-control {
	height:30px;
	line-height:30px
}
select[multiple].form-group-sm .form-control, textarea.form-group-sm .form-control {
	height:auto
}

  </style>
   </head>
  <body> 
  <div class="body-wrapper">
    <!-- START WIDGET -->
    <div class="widget-1 panel no-border bg-complete no-margin widget-loader-circle-lg">
      <div class="body-text">
        <div class="pull-bottom bottom-left bottom-right ">
          <h1>
        Network Setup</h1>
          <form action="" method="post" name="login" id="login">
            {{ form.hidden_tag() }}
            <h4>
              MAC Address:
              {{ form.myMAC }}<br>
            </h4>
            <p>
              Please select your network's security protocol (Required):<br>
              {{ form.security() }}<br>
            </p>
            <p>
              Network SSID (Required):<br>
              {{ form.ssid(size=80) }}<br>
            </p>
            <p>
              Network passkey(WPA-PSK only):<br>
              {{ form.psk(size=80) }}<br>
            </p>
            <p>
              PAEP identity (Enterprise only):<br>
              {{ form.username(size=80) }}<br>
            </p>
            <p>
              PAEP password (Enterprise only):<br>
              {{ form.password(size=80) }}<br>
            </p>


            <p>
              {{ form.restart(size=80) }}<br>
            </p>

            <br /><br /><br />

            <h4>
              Resets (Advanced users only):
            </h4>
            <p>
              Restore network to factory state:
              {{ form.clear(size=80) }}<br>
            </p>

            <p>
              Restore system files to factory state:
              {{ form.backup(size=80) }}<br>
            </p>

            <p>
              Synchronize time using Magnitude.io server. Useful if your network is restrictive and this device cannot reach external NTP servers:<br />
              After clicking this button, you may reboot the device (button below), or you can stay on this page to continue with your Network Setup (if you haven't done so already)<br />
              {{ form.setTime(size=80) }}<br><br />
            </p>

            <p>
              Use NTP servers for time synchronization (default)
              <br />
              {{ form.setTimeNTP(size=80) }}<br><br />
            </p>

            <p>
              Reboot ExoLab:
              {{ form.reboot(size=80) }}<br>
            </p>

          </form>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    <!-- END WIDGET -->
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>


{% endblock %}

